# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.spec
dist/
build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Datasets & models
data/
datasets/
*.weights
*.pt
*.onnx
*.h5
*.tflite

# Log files
*.log

# MacOS & Linux
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# YOLOv8
runs/
